@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bodyColor text-white;
  padding: 50px;
   overflow-x: hidden;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
  /* @apply  font-sans; */
  /* @apply font-roboto; */
  @apply font-lexend;
}

@layer components {
  .text-heading {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-[2.125rem] xl:text-[2.5rem] font-bold;
  }

  .text-subheading {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-[1.7rem] xl:text-[1.9rem] font-bold ;
  }

  .text-para {
    @apply text-[1rem] sm:text-[1.125rem] md:text-[1.25rem] lg:text-[1rem] xl:text-[1.1rem];
  }

  .button-text {
    @apply text-[0.500rem] sm:text-[0.70rem] md:text-[0.700rem] lg:text-[0.9rem] xl:text-[1.100rem];
  }
}

@media (max-width: 639px) {
  body {
    padding: 20px;
  }
}


/* Scrollbar styling for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;           
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FFDD02;
  border-radius: 10px;
}

/* Optional: Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFDD02 transparent;
}



.solar-btn {
  color: #FFDD02;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #FFDD02;
  padding: 12px 28px;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  position: relative;
  transition: all 0.6s ease;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 0 #FFDD02;
}

.solar-btn:hover {
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px #b5a74e;
}

.solar-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px #b5a74e;
}

.solar-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #FFDD02;
  z-index: -1;
  transition: all 0.6s ease;
}

.solar-btn:hover::before {
  width: 180%;
}

